body { font-family: Arial; margin: 20px; background: #f5f6fa; }
.header { display:flex; justify-content: space-between; align-items:center; }
h1 { color: #2f3640; margin: 0; }
.logo { height: 50px; }
.proyecto-titulo { font-size: 0.99em; margin-left: 10px; color: #555; }
.barra-superior { display:flex; gap:10px; margin-bottom:15px; }
.panel-derecho { display:flex; gap:10px; align-items:center; }
.tabs { display:flex; gap:10px; justify-content:center; margin-top:10px; }
.tab-button { padding:5px 10px; border:1px solid #ccc; cursor:pointer; }
.tab-button.active { background:#007bff; color:#fff; }
.view{display:none;} .active{display:block;}
.grid-kpi,.grid-graficos{display:grid;grid-template-columns:repeat(3,1fr);gap:15px;}
.card{background:#fff;padding:15px;border-radius:10px;box-shadow:0 2px 6px rgba(0,0,0,0.1);}
canvas {
      width: 100% !important;
      height: 180px !important;
      max-height: 180px !important;
    }
.separador_A{height:12px;border-bottom:5px solid #3476bd;margin-bottom:15px;}
.separador_B{height:2px;border-bottom:15px solid #fff;margin-bottom:15px;}
